<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bonjobs | Painel de vagas</title>
    <link rel="stylesheet" href="/styles/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <a href="/">
        <img 
            src="/images/logo.png" 
            alt="Bonjobs - Plataforma de empregos"
            title="Bonjobs"
            width="20%">
    </a>
    <p> Painel de vagas do Bonja</p>
</header>