<%- include('header') %>
<%- include('menu') %>
<section>
    
    <div>
        <ul>
            <h3>
                Vagas disponíveis:
            </h3>
            <% categorias.forEach(categoria => { %>
            <%- categoria.categoria %>
            <% }) %>
            <h4>Tecnologia da Informação</h4>
            <li>DevOps (Remoto/Alocado)</li>
            <li>
                <a href="/vaga">
                    Fullstack Developer
                </a>
            </li>
            <li>Front-end Developer</li>
            <li>DBA Developer</li>
        </ul>
    </div>
    <div>
        <ul>
            <h4>Recursos Humanos</h4>
            <li>Secretariado</li>
            <li>Office Boy</li>
            <li>Almoxarife</li>
        </ul>
    </div>
    
</section>
<%- include('footer') %>