<%- include('header') %>
<section>
    <h2>Full Stack Developer</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis aperiam laudantium omnis a odio quod itaque nam similique. Iusto, ipsum aspernatur aliquid harum perspiciatis nam nesciunt sunt est laboriosam placeat!
    </p>
</section>
<%- include('footer') %>