* {
    margin: 0px;
    font-family: 'Lexend Deca', sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

h3 {
    color: #ecf0f1;
    background-color: #2980b9;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 10px 0 10px 0;
}

li {
    padding-left: 10px;
}